<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glitchguild.campuslostandfound">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Campus Lost and Found"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusLostAndFound">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OTHER ACTIVITIES -->
        <activity android:name=".LostItemsActivity" android:exported="false" />
        <activity android:name=".ReportLostActivity" android:exported="false" />
        <activity android:name=".FoundSomethingActivity" android:exported="false" />

    </application>

</manifest>
